._container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: $widthContainer + px;
    // max-width: calc(950px + ($widthContainer - 950) * ((100vw - 320px) / #{$widthCanvas - 320}));
}

._title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
}

._arrows {
    display: flex;
}

._arrow {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 30px;

    @media (max-width: #{$mobile + px}) {
        display: none;
    }

    &:after,
    &::before {
        content: '';
        height: 3px;
        position: absolute;
        width: 20px;
        top: 7px;
        background: #000;
    }

    &::after {
        top: 20px;
    }

    &__next {
        &:after {
            transform: rotate(-45deg);
        }
        &:before {
            transform: rotate(45deg);
        }
    }

    &__prev {
        margin: 0 45px 0 0;

        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(135deg);
        }
    }
}


._btn {
    color: #fff;
    background: #000;
    border-radius: 40px;
    font-weight: bold;
    padding: 0 30px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5 ease;

    &:hover {
        background: rgb(36, 34, 34);
    }
}

body.lock {
    overflow: hidden;
}